@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(0 0% 100%);
    --accent: hsl(200, 23%, 95%);
    --border: hsl(209, 27%, 85%);

    --dark: hsl(0, 0%, 0%);
    --secondary: hsl(0, 0%, 87%);
  }
}

html {
  height: 100%;
}

body {
  background: #fff;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
